{% extends 'base.html.twig' %}
{% form_theme formLogin 'bootstrap_4_layout.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}

{#
<!-- Modal -->
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formLogin, {'action': path('security_login'), 'method': 'POST', 'attr': {'class': 'w-100 form-signin', 'id': 'RegistrationType'} }) }}

                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
                <div class="mb-3">
                    {{ form_row(formLogin.email, { 'label': 'Adresse email', 'attr': {'class': 'form-control', 'placeholder': 'Adresse email...' }})
                    }}
                </div>
                {{ form_row(formLogin.password, {'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe...'}})
                }}
                <div class="checkbox mb-3">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning mt-3 btn-block">Connexion !</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}
{{ form_start(formLogin, {'action': path('security_login'), 'method': 'POST', 'attr': {'class': 'w-100 form-signin', 'id': 'RegistrationType'} }) }}

{% if error %}
<div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
{% endif %}
<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
<div class="mb-3">
    {{ form_row(formLogin.email, { 'label': 'Adresse email', 'attr': {'class': 'form-control', 'placeholder': 'Adresse email...' }})
    }}
</div>
{{ form_row(formLogin.password, {'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe...'}})
}}
<div class="checkbox mb-3">
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Se souvenir de moi
    </label>
    <div class="form-group">
        <button type="submit" class="btn btn-warning mt-3 btn-block">Connexion !</button>
    </div>
{{ form_row(formLogin._token) }}

{#{ form_end(formLogin, {'render_rest': false}) }#}
{% endblock %}