{% extends 'base.html.twig' %}
{% block slider %}
{#  CAROUSEL 
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in slider %}
        {% if loop.index - 1 == 0 %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index - 1 }}" class="active"></li>
        {% else %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index - 1 }}"></li>
        {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slide in slider %}
        {% if loop.index - 1 == 0 %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
                {% endif %}
                <img src="{{ slide.image }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {% if slide.titre is defined and slide.titre is not null %}
                    <h5 class="text-dark">{{ slide.titre }}</h5>
                    {% endif %}
                    {% if slide.description is defined and slide.description is not null %}
                    <div>{{ slide.description|raw }}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    FIN CAROUSEL #}

<!-- Main navigation -->
<header>

    <!-- Full Page Intro -->
    <div class="view mb-5"
        style="background-image: url('/images/famille.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient align-items-center view">
            <!-- Content -->
            <div class="container py-5 ">
                <!--Grid row-->
                <div class="row mb-5 pt-5">
                    <!--Grid column-->
                    <div class="col-md-6 text-white text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h1 class="h1-responsive font-weight-bold mt-sm-5 ">Voisin d'à coté, la confiance rennaît</h1>
                        <hr class="hr-light">
                        <h6 class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                            fuga
                            nesciunt
                            dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                            iste.</h6>

                        <a class="btn btn-warning">Poster une annonce</a>
                        <a class="btn btn-info">En savoir plus</a>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->

{% endblock %}

{% block body %}
{# Video #}
<h3 class="text center text-primary"> Voisin d'accoté</h3>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ asset('images/home/janine.mp4')}}" allowfullscreen></iframe>
</div>
<div class="row bg-white pb-5 pt-3">
    {% for annonce in annonces %}
    <article class="col-12 col-md-3 mt-5 d-flex flex-wrap justify-content-start">
        <div>


            <img src="{{ annonce.annoncePicture }}" alt="{{ annonce.annonceTitle }}"
                class="img-fluid image-height mb-2 border">

            <h4><a href="{{path('annonce_article', {"slug": annonce.slug}) }}">{{ annonce.annonceTitle}}</a> </h4>
            <div class="metadata text-secondary pt-2">Crée le {{ annonce.CreatedAt | date ('d/m/Y')}} à
                {{ annonce.CreatedAt | date ('H:i')}} Dans la categorie {{ annonce.categorys.nomCategorie}} </div>
        </div>
        <p class="text-warning w-100 align-self-end mt-2">Budget : {{ annonce.budget}} €</p>
        <a href="{{ path('annonce_article', {'id': annonce.id} ) }}" class="btn btn-warning align-self-end">En
            savoir plus</a>
    </article>
    {% endfor %}
</div>
{% endblock %}

{#% block section %}
    <section class="bg-warning  text-white container-fluid py-4">
        <h1 class="text-center mb-5 f-family">Comment sa marche</h1>
        <div class="row">
            <div class="col-12 col-md-4 text-center  border-radius bg-dark">
                <h4 class="f-family">JE POSTE <i class="fa fa-podcast" aria-hidden="true"></i></h4>
                <img src="{{ asset('images/jeposte.png')}}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-4 text-center">
                <h4 class="f-family">JE SELECTIONNE <i class="fa fa-search" aria-hidden="true"></i></h4>
                <img src="{{ asset('images/step-2@3x.png')}}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-4 text-center">
                <h4 class="f-family">JE CHOISIS <i class="fa fa-comments" aria-hidden="true"></i>
                </h4>
                <img src="{{ asset('images/jechoisi.png')}}" alt="" class="img-fluid">
            </div>
        </div>
    </section>
    {% endblock %#}

{% block footer %}
<footer class="bg-dark text-light pt-2 container-fluid">
    <div class="container ">
        <div class="row pt-3">
            <div class="com-12 col-md-4">
                <h4 class=" pb-2">EN SAVOIR PLUS</h4>
                <ul>
                    <li><a href="">A propros</a></li>
                    <li><a href="{{ path('benevolat') }}">Bénévolat & Missions Gratuites</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <div class="com-12 col-md-4">
                <h4 class=" pb-2">Mon Voisin D'accoté</h4>
                <ul>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Nos partenaires</a></li>
                    <li><a href="">Charte de bonne conduite</a></li>

                </ul>
            </div>
            <div class="com-12 col-md-4">
                <h4 class=" pb-2">SUPPORT</h4>
                <ul>
                    <li><a href="">Charte de confidentialité</a></li>
                    <li><a href="">Paiement & Rémunération</a></li>
                    <li><a href="">Garanties & Confiance</a></li>
                    <li><a href="">Conditions de remboursements</a></li>
                    <li><a href="">CGU</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-12 col-md-3">&copy; La Galerie 2020</div>
            <div class="col-12 col-md-4 text-right">
                {# Le code ci-dessous n'est plus utile car on passe par un rendu du CommonController
                        afin d'alléger les process dans les autres controller d'accès aux différentes routes #}
                {# <ul class="list-unstyled">
                            {% for link in social %}
                            <li class="d-inline mx-1"><a href="{{ link.lien }}" class="text-light" target="new"><i class="{{ link.icone }}" aria-hidden="true"></i></a></li>
                            {% endfor %}
                        </ul> #}
                {# On appele la méthode socialNetworkMenu du CommonController pour mettre en place le 
                            menu des réseaux sociaux #}
                {{ render(controller('App\\Controller\\CommonController::socialNetworkMenu')) }}
            </div>
        </div>
    </div>
</footer>
{% endblock %}